.container-signup {
    padding: 20px;
    display: block;
    position: relative;
    height: 92vh;
    overflow: auto;
}

.container-signup .form-signup {
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-signup .form-signup fieldset, #container-payment-method {
    padding: 0px;
    display: flex !important;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #4446 0 10px 5px;
    margin-bottom: 4em;
}

.container-signup .form-signup fieldset .title-legend, .container-signup .form-signup .select-method {
    background-color: deepskyblue;
    padding: 20px;
    color: #f7f7f7;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 40px;
    font-weight: 500;
    text-align: center;
}

.container-signup .form-signup .select-method {
    text-align: left;
    font-size: 15px;
}

.container-signup .form-signup .select-method label {
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}


.container-signup .form-signup fieldset label {
    margin-left: 13%;
    margin-bottom: 5px;
    color: rgb(6, 184, 207);
}
.container-signup fieldset input {
    width: 75%;
    padding: 10px;
    margin-bottom: 20px !important;
    margin: auto;
    border-radius: 5px;
    outline: none !important;
    border: none !important;
    background-color: #f8f8f8a1;
    border: 1px solid #dddb !important;
    color: #969696fa !important;
}

.container-signup .form-signup fieldset input::placeholder {
    color: #a6acacfa;
    font-size: 15px;
}



.container-signup .form-signup fieldset .birth {
    overflow: hidden;
    width: 80%;
    margin: auto;
    padding: 0 25px;
    font-size: 30px;
    color: rgba(105, 105, 105, 0.986);
}


.container-signup .form-signup fieldset .birth input {
    width: 80px !important;
    font-size: 15px !important;
}


/* PAYMENT METHOD */
#card-credit {
    margin: 0 !important;
    padding: 0 !important;
}


#container-payment-method {
    margin: 0 !important;
    padding: 0 !important;
}



/*ERROR MESSAGE */

#container-error-message {
    background-color: rgba(107, 105, 105, 0.507);
    height: 92vh;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin: 0;
}

#btn-close-message {
    background-color: rgb(230, 9, 9);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #ccc6;
    font-weight: bold;
    position: absolute;
    top: 10%;
    right: 10%;
    color: #f6f6f6;
    box-shadow: rgb(63, 63, 63) 0 5px 5px;
}

#error-message {
    color: #fff;
    font-weight: 100;
    text-shadow: #333 3px 5px 5px;
    max-width: 400px;
    height: auto;
}








